.App {
  text-align: center;
}

.para{
  font-family: 'Didact Gothic', sans-serif;
}

.outer{
  width:auto;
  height: 280px;
}

.inner-left{
  width: 200px;
	height: 370px;
}

.inner-left img{
  top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.inner-right-second{
  width: 259px;
	height: 370px;
}

.inner-right-second img{
	height: 172px;
}